<div class="container">
	<div class="homeDiv">
		<div class="partialTitle row">Our top three:</div>
			<div modal="opened" ng-include src="'partials/modalView.html'"></div>
			<div ng-repeat="b in topThree">
				<div class="row">
					<div class="homeDiv__body ">
						<div>
							<a href="#/bookDetalView"><img class="clearThis homeBookCoverImage col-lg-2 col-md-2 col-sm-2 col-xs-12" src={{b.bookCover}} /></a>
						</div>
						<div>
							<div class="homeBookDetails col-xs-12 col-sm-9 col-md-9 col-lg-10">

								<h1>{{b.title}} <p class="homeRating">{{b.rating}}</p></h1>

								<h3>By: <a class="homeLink" href="#/allBooksByThisAuthor">{{b.author}}</a></h3>

								<h4>{{b.publishingDate}}</h4>

								<h4 class="homeGenreText"><a class="homeLink" href="#/genres">{{b.genre}}</a></h4>

								<div class="homeBookDescription">

									<p>
										{{b.description}}<button type="button" class="btn btn-default buttonBRC" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.id)">Read more</button> 
										<div class="clearThis"></div>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
