/*-----------------FONTS-----------------------*/

.bookTable > tbody > tr > td, .bookTable > thead > tr > th, p, h1, h2, h3, h4, h5, a, .modal-title{
  font-family: 'Lekton', sans-serif;
}

.bookTable > thead > tr > th {
  font-size: 30px;
}

.bookTable > tbody > tr > td{
  font-size: 16px;
  vertical-align: text-bottom;
}

.menuFont, .title, .partialTitle {
  font-family: 'Stint Ultra Condensed', cursive;
}

.title { /*hoeBag [buuk stohr]*/
  font-size: 80px;
}

.partialTitle { /*Authors: Books: Genres: Our top three:*/
  font-size: 60px;
  text-align: center;
  background-image: url("img/bl2.jpg");
  margin-bottom: 10px;
  color: gray;
}

.homeLink{
  color: black;
}
.homeLink:hover {
  color: white;
}

/*Used for centering the navbar*/
/*.center {
	margin-left: auto;
	margin-right: auto;
}*/
/*Set background for the body*/
body { 
  background: gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Centering the navbar*/
.center.navbar .nav {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}
/*Changing style of navbar li*/
.navbar-inverse .navbar-nav > li {
	 color:white;

	 font-size:30px;
	 width:100px;
}

/*Underline all links on hover*/
.navbar-inverse .navbar-nav > li > a:hover {
	 color:gray;
	 text-decoration:underline;
}
/*Make navbar transparent*/
.navbar{
    background-color: transparent;
    background: transparent;
}
/*Centering the menu title*/
.menu{
	text-align:center;
	position: relative;
}
.menubtnWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.menubtnWrapper:after {
	content:"";
	display: block;
	clear: both;
}
/*Style and position menu title*/
.menuTitle{
	font-family: 'Arizonia', cursive;
	font-size: 80px;
	position:relative;
	margin:0 auto;
	top:0px;
}
/*Set color of menu title*/
.menuTitle > p{
  color : gray;
}
/*Styling admin button*/

/*Position admin button*/
.login-button{
	float: left;
	margin-top: 2px;
	display: inline-block;
	position:absolute;
	top:-158px;
	left:0;
}
.logout-button{
	position:absolute;
	top:-158px;
	left:0;
}
/*Position search box*/
.search{
	float: right;
	margin-bottom: 2px;
	margin-left: 2px;
	display: inline-block;
}
/*Set background image for menu*/
.menu{
	background-image: url("img/grayBackground.jpg");
}
/*Position social media buttons*/
.a2a_kit {
	float: left;
	margin-bottom: 2px;
	margin-left: 2px;
	display: inline-block;
}

/*-------------BookView Styling-------------*/

/*Set size of panel inside modal in bookDetails*/
.panel{
    width: 60%; 
}
/*Position book cover in bookDetailView*/
.bookCover
{
	position:fixed;
	right:1%;
}
/*Position the panel in bookView*/
.center-panel{
	position:relative;
	width:100%;
}
/*Position Save button in bookEditView*/
.saveButton{
	position:right100%;
}
/*Position username textbox in loginView*/
.username{
	margin-bottom: 30px;
	width:300px;
	margin-left: 134px
}
/*Position password textbox in loginView*/
.password{
	width:300px;
	margin-left: 134px
}

/*-----------BUTTONS----------------*/




/*---------------- HOME VIEW -------------------*/

.homeDiv {
  margin:10px;
  background: transparent;
  background-color: transparent;
  float:left;
  margin-right: 10px;
  display:block;
  float:right;
  margin-left: 10px;  
  background: #E5E5E5;
  border :1px solid #BEBFBF;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.homeDiv, .homeDiv__body {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.homeBookCoverImage{
	height: auto;
	width: 150px;
	float:left;
  	margin-right: 10px;
}

.homeBookDetails{ /*Title, author, publishing year */
	padding: 5px;
	background: linear-gradient(#3A3A3A, #B0B0B0);
	border-radius: 10px;
	border-color: black;
	width: 100%;
}

.homeRating{
	float: right;
	text-align: right;
	padding-right: 10px;
}

.homeBookDescription{
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
	background-color: white;
	width: 100%;
	word-wrap: break-word;
}

.homeReadMore{
	text-align: right;
	float: right;
  color: #1E2727;
}

.homeGenreText {
	font-style: italic;
}


/*---------------- Author, genre, home and book divs -------------------*/

.authorDiv, .genreDiv, .homeDiv, .bookDiv{
  margin-top: 20px;
  background-color: #E6E6E6;
  float:left;
  position: relative;
  width: 100%; 
  display:block;
  border :1px solid #313131;
  padding: 10px;
  border-radius: 10px;
}

.accordion {
	width: 100%;
  background: white;
}

.accordion a {
	width:100%;
	display:block;
}
.accordion .panel-heading {
  background: #B8B8B8;
}

/* -------------- ADD VIEW -------------------*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.whiteSurrounding {

background: transparent;
  background-color: transparent;
  position: relative;
  width: 70%; 
  display:block;
  background: white;
  border :1px solid #BEBFBF;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.viewTitles {
  font-family: 'Times new roman', cursive;
  font-size: 30px;
  position:relative;
  text-align: center;
  margin:0 auto;
  color: gray;
  top:0px;
  margin-bottom: 20px;
}
/* -------------- Rating  -------------------*/
.rating{
  color: #A0A0A0;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: green;
}