/*Used for centering the navbar*/
/*.center {
	margin-left: auto;
	margin-right: auto;
}*/
/*Set background for the body*/
body { 
  background: url("img/bookViewBackground2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Centering the navbar*/
.center.navbar .nav {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}
/*Changing style of navbar li*/
.navbar-inverse .navbar-nav > li {
	 color:white;
	 font-family: 'Stint Ultra Condensed', cursive;
	 font-size:30px;
	 width:100px;
}
/*Underline all links on hover*/
.navbar-inverse .navbar-nav > li > a:hover {
	 color:gray;
	 text-decoration:underline;
}
/*Make navbar transparent*/
.navbar{
    background-color: transparent;
    background: transparent;
}
/*Centering the menu title*/
.menu{
	text-align:center;
	position: relative;
}
.menubtnWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.menubtnWrapper:after {
	content:"";
	display: block;
	clear: both;
}
/*Style and position menu title*/
.menuTitle{
	font-family: 'Arizonia', cursive;
	font-size: 80px;
	position:relative;
	margin:0 auto;
	top:0px;
}
/*Set color of menu title*/
.menuTitle > p{
  color : gray;
}
/*Styling admin button*/
.btn-success {
	color:black;
	font-family:'Stint Ultra Condensed', cursive;
	font-size:20px;
}
/*Position admin button*/
.login-button{
	float: left;
	margin-top: 2px;
	display: inline-block;
}
.logout-button{
	position:fixed;
	top:0px;
	left:0px;
}
/*Position search box*/
.search{
	float: right;
	margin-bottom: 2px;
	margin-right: 2px;
	display: inline-block;
}
/*Set background image for menu*/
.menu{
	background-image: url("img/grayBackground.jpg");
}
/*Position social media buttons*/
.a2a_kit {
	float: left;
	margin-bottom: 2px;
	margin-left: 2px;
	display: inline-block;
}

/*-------------BookView Styling-------------*/

/*Set size of panel inside modal in bookDetails*/
.panel{
    width: 60%; 
}
/*Position book cover in bookDetailView*/
.bookCover
{
	position:fixed;
	right:1%;
}
/*Position the panel in bookView*/
.center-panel{
	position:relative;
	width:100%;
}
/*Position Save button in bookEditView*/
.saveButton{
	position:right100%;
}
/*Position username textbox in loginView*/
.username{
	margin-bottom: 30px;
	width:300px;
	margin-left: 134px
}
/*Position password textbox in loginView*/
.password{
	width:300px;
	margin-left: 134px
}
/*Style the heading for the bookView Panel*/
.bookHeading{
	text-align: center;
	font-family: 'Arizonia', cursive;
	font-size: 40px;
}
/*Style the th in bookView*/
.bookTable > thead > tr > th{
	font-family: 'Ceviche One', cursive;
	font-size: 30px;
}
/*Style the td in bookView*/
.bookTable > tbody > tr > td{
	font-family: serif;
	font-size: 16px;
}



/*---------------- HOME VIEW -------------------*/

.homeDiv {
  margin:10px;
  background: transparent;
  background-color: transparent;
  float:left;
  margin-right: 10px;
  display:block;
  float:right;
  margin-left: 10px;  
  background: #E5E5E5;
  border :1px solid #BEBFBF;
  padding: 10px;
  border-radius: 10px;
}

.homeDiv, .homeDiv__body {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}

.homeBookCoverImage{
	height: auto;
	width: 150px;
	float:left;
  	margin-right: 10px;
}

.homeBookDetails{ /*Title, author, publishing year */
	padding: 5px;
	background-color: #4C6161;	
	border-radius: 10px;
	border-color: black;
	width: 100%;
}

.homeRating{
	float: right;
	text-align: right;
	padding-right: 10px;
}

.homeBookDescription{
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
	background-color: #99C2C2;
	width: 100%;
	word-wrap: break-word;
}

.homeReadMore{
	text-align: right;
	float: right;
    color: #1E2727;
}

.homeGenreText {
	font-style: italic;
}
/*---------------- HOME VIEW -------------------*/

.genreDiv {
  background: transparent;
  background-color: transparent;
  float:left;
  display:block;
  width: auto; 
  background: #E5E5E5;
  border :1px solid #BEBFBF;
  padding: 10px;
  border-radius: 10px;
}

.genreAccordion {
	width: 800px;
	background: #99CCFF;
}

/* -------------- ADD VIEW -------------------*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

