<div class="container"> 

	<h2>Our top three:</h2>

	<div class="row"> 

		<div class="col-xs-7 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">

			<div class="homeDiv" ng-repeat="b in topThree">

			  <a href="#/bookDetalView">
			    <img class="homeBookCoverImage" src={{b.bookCover}} />
			  </a>

				<div class="homeDiv__body" >

					<div class="homeBookDetails">

						<h2>{{b.title}} <p class="homeRating">{{b.rating}}</p></h2>
					    <h4>By: <a href="#/allBooksByThisAuthor" class="one">{{b.author}}</a></h4>

						<h5>{{b.publishingDate}}</h5>
						<h5 class="homeGenreText"><a href="#/genres">{{b.genre}}</a></h5>

					    	<div class="homeBookDescription">
						    	<p>
									{{b.description}}
									<a href="#/bookDetailView" class="homeReadMore">+Read more</a>
								</p>
							</div>

				  	</div>

				</div>

			</div>

		</div>
		
	</div>

</div>
