<div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">

<div class="whiteSurrounding"> <!-- Kims CSS-koppling -->
  <h2>{{formTitle}}<h2>


<div class="btn-group input-group form-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Add/remove books
      </button>
      <ul class="dropdown-menu" role="menu">
       <li><a href="" ng-click="goTos('/addAuthor')">Add/remove authors</a></li>
       <li><a href="" ng-click="goTos('/add')">Add/remove books</a></li>
      </ul>
    </div>





<div class="input-group form-group">
      <input type="text" placeholder="Genre" ng-model="newBookData.genre" class="form-control" aria-label="...">
      <div class="input-group-btn" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
        <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
          <li ng-repeat="genre in bookData | orderBy: 'genre'">
            <a href="" ng-click="genreSelect($index)">{{genre.genre}}</a></li>
       </ul>
      </div><!-- /btn-group -->
  </div><!-- /input-group -->
    


    <div class="form-group marg">
     <textarea class="form-control" id="data" ng-model="newBookData.description"  rows="5" placeholder="Add book description here..."></textarea>
     </div>




<button type="add" class="btn btn-default" ng-click="save()">{{saveBtnText}}</button>
<button ng-if="canDelete" type="remove" class="btn btn-default" ng-click="delete()">Remove from database</button>
</div> 
</div>





<!-- div class container fluid  col-lg-4-->




    <!-- Collect the nav links, forms, and other content for toggling -->
    
        <!--<div class="form-group">
          <input type="text" class="form-control" placeholder="Book Title">
        </div>  
       

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Author">
        </div>


        <div class="form-group">
          <input type="text" class="form-control" placeholder="ISBN">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Genre">
        </div>

          <input type="text" class="form-control" placeholder="Description">
        </div>
        <button type="add" class="btn btn-default">Add</button>
      -->
