<div class="container-fluid col-lg-5">

  <h2>Please enter book credentials<h2>
  <div class="input-group form-group">
      <input type="text"  placeholder="Author" class="form-control" aria-label="...">
      <div class="input-group-btn" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
       <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">author</a></li>
          <li><a href="#">author</a></li>
          <li><a href="#">author</a></li>
       </ul>
      </div><!-- /btn-group -->
  </div><!-- /input-group -->



<!--- ng-modeö="callTitle" for controller -->
    <div class="input-group form-group">
      <input type="text" placeholder="Title" class="form-control" aria-label="...">
      <div class="input-group-btn" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-controller="addController">

          <p ng-repeat="b in books"> <a href="#/bookDetailViewForThisBook"> {{b.title}} </a> </p> 
          <li ng-repeat="a in forfattare"><a>{{a.name}}</a></li>
          

        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->



<div class="input-group form-group">
      <input type="text" placeholder="Genre" class="form-control" aria-label="...">
      <div class="input-group-btn" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">genre</a></li>
          <li><a href="#">genre</a></li>
          <li><a href="#">genre</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    

  


    <div class="form-group marg">
        <input id="isbn" class="form-control" type="text" placeholder="ISBN">
      </div>

    <div class="form-group marg">
     <textarea class="form-control" id="data" rows="5" placeholder="Add book description here..."></textarea>
     </div>




<button type="add" class="btn btn-default col-lg-4">Add to database</button>

</div> 





<!-- div class container fluid  col-lg-4-->




    <!-- Collect the nav links, forms, and other content for toggling -->
    
        <!--<div class="form-group">
          <input type="text" class="form-control" placeholder="Book Title">
        </div>
       

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Author">
        </div>


        <div class="form-group">
          <input type="text" class="form-control" placeholder="ISBN">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Genre">
        </div>

          <input type="text" class="form-control" placeholder="Description">
        </div>
        <button type="add" class="btn btn-default">Add</button>
      -->
