<div class="container">
	<div class="authorDiv">
		<div class="partialTitle row">Authors:</div>
		<div modal="opened" ng-include src="'partials/modalView.html'"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="bookController">	
			<div class="row">		
				<accordion >				
				  <accordion-group heading={{book.author}} ng-repeat="book in bookData" class="accordion">
				    <p><b>Title: {{book.title}}</b></p>
				    <tbody>
				    	<td>
				    		<button type="button" id="{{book.id}}" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.id)">
				  				Book Details
							</button>
						</td>
				    </tbody>
				   </accordion-group>
			  	</accordion>
		  	</div>
		</div>
	</div>
</div>
