<div class="container">
	<div class="authorDiv">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0" ng-controller="bookController">
			<div modal="opened" ng-include src="'partials/modalView.html'"></div>
			<div class="partialTitle">Authors:</div>
			<accordion >
				
			  <accordion-group heading={{book.author}} ng-repeat="book in bookData" class="accordion">
			   <!--	<p><b>Böcker skrivna av: {{book.author}}</b></p> -->
			    <p><b>Title: {{book.title}}</b></p>

			    <tbody>
			    			<td>
			    				<button type="button" id="{{book.id}}" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.id)">
			  						Book Details
								</button>
							</td>
			    		</tr>
			    	</tbody>
			   </accordion-group>
		  	</accordion>
		</div>
	</div>
</div>
