<div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  		Launch demo modal
	</button>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book Name</h4>
      </div>
      <div class="modal-body">
      	<div class="bookCover">
      		<img src="css/img/book.jpg" class="img-responsive" alt="Responsive image">
      	</div>
        <div class="panel panel-default">
  			<div class="panel-body">
    			<ul class="list-group">
				  <li class="list-group-item">Author: <span class="badge">Yuval Noah Harari </span></li>
				  <li class="list-group-item">Published: <span class="badge">2015-02-23</span></li>
				  <li class="list-group-item">Genre: <span class="badge">Historia & arkeologi</span></li>
				  <li class="list-group-item">ISBN: <span class="badge"> 9789127140394</span></li>
				</ul>
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
    			<p>
					Sapiens är en storslagen berättelse om människans ursprung, nutid och framtid. Historikern Yuval Noah Harari tar oss med från Homo sapiens första steg på jorden, då vi var ett däggdjur bland alla andra, till idag när vi står som världens obestridda härskare - med makt att både skapa och utplåna liv.
				</p>
  			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>		