<div class="container">

	<h2>Genres:</h2>

	<div class="genreDiv">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0" ng-controller="genreController2">

			<accordion>

			    <accordion-group heading={{g.title}} ng-repeat="g in genres" class="genreAccordion">

			      <p> {{g.description}} </p>

<!--			      <p> {{g.bookList}} </p> -->

			      <p ng-repeat="b in books" ng-if="g.title == b.genre || b.genre.contains(g.title)"> <button type="button" class="secretButton" data-toggle="modal" data-target="#loginModal"> {{b.title}} </button> </p> 

			    </accordion-group>

		  	</accordion>

<div class="modal fade" id="myModal" 
		</div>
	</div>

</div>